
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <h1>Que argumentos funcionam (ou não) com você?</h1>
  </div>
</div>

<div class="container">

      <div class="wrap">
        <form action="">

        <% @questions.each do |question| %>

            <label class="statement"><%= question.body %></label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="1">
                <label>Concordo totalmente</label>
              </li>
              <li>
                <input type="radio" name="likert" value="2">
                <label>Concordo</label>
              </li>
              <li>
                <input type="radio" name="likert" value="3">
                <label>Neutro</label>
              </li>
              <li>
                <input type="radio" name="likert" value="4">
                <label>Discordo</label>
              </li>
              <li>
                <input type="radio" name="likert" value="5">
                <label>Discordo totalmente</label>
              </li>
            </ul>

        <% end %>

              <div class="buttons">
              <button class="clear">Limpar</button>
              <button class="submit">Enviar</button>
            </div>

      </div>

</div>


<br>

<!-- <%= link_to 'Responder', new_question_path %> --> 
<!-- container end -->
