<p></p>
<div class="container">
  <div class="page-header">
    <h1>Que argumentos funcionam (ou não) com você?</h1>
  </div>
</div>

<div class="container">
<%= link_to 'Admin', management_index_path %> 
<p></p>
<%= link_to 'Responder', surveys_path %> 
<p></p>
</div>

