<div  class="navbar navbar-default">
    <div  class="container-fluid">
        <div  class="navbar-header">
            <button type="button" class="navbar-toggle  collapsed"  data-
            toggle="collapse" data-target="#collapibleMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"> Perguntador </a>
    </div>
    <div  class="collapse navbar-collapse"  id="collapibleMenu">
        <ul class="nav  navbar-nav  navbar-right">                
            <li><a  href="#">CAED</a></li>
            <li><a  href="#">Ajuda</a></li>
        </ul>
    </div>
</div>
</div>

<p></p>

<div>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '808307692635836',
          xfbml      : true,
          version    : 'v2.6'
      });

    // ADD ADDITIONAL FACEBOOK CODE HERE

    // Place following code after FB.init call.

    function onLogin(response) {
      if (response.status == 'connected') {
        FB.api('/me?fields=first_name', function(data) {
          var welcomeBlock = document.getElementById('fb-welcome');
          welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
      });
    }
}

FB.getLoginStatus(function(response) {
  // Check login status on load, and if the user is
  // already logged in, go directly to the welcome message.
  if (response.status == 'connected') {
    onLogin(response);
} else {
    // Otherwise, show Login dialog first.
    FB.login(function(response) {
      onLogin(response);
  }, {scope: 'user_friends, email'});
}
});
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</div>



<div class="container">
	<div class="page-header">
       <h1 id="fb-welcome"></h1>
   </div>
   <div>
      <%= link_to "Administração", management_index_path%>
      <p></p>
      <a  href="#">Teste</a>
  </div>
</div>

