<p></p>
<div class="container">
	<div class="page-header">
		<h1>Administração</h1>
	</div>
	<div>
		<%= link_to "Gerenciar Categorias de Persuasão", categories_path%>
		<p></p>
		<%= link_to "Gerenciar Perguntas", questions_path%>
		<p></p>
	</div>
</div>
